* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Flood;
  src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}
header {
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(100px, auto);
  margin-bottom: 20px;
}
header > h4 {
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  align-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
}
header > nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-content: center;
  grid-column: 2/3;
  grid-row: 1/2;
}
.link {
  text-align: left;
  text-decoration: none;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
header > a {
  justify-self: center;
  align-self: center;
  grid-column: 1/3;
  grid-row: 2/3;
}
header > a > button {
  background: #c1f7d5;
  border-radius: 100px;
  opacity: 1;
  border: 1px solid #c1f7d5;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  padding: 10px 50px;
}

main > .issue_content {
  background: transparent url("img/annie-spratt-427339-unsplash.png") 0% 0%
    no-repeat padding-box;
  /* opacity: 0.76; */
  background-size: 100% 100%;
}
.stop_climate_change {
  /* width: 181px; */
  height: 136px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: Flood;
  height: 136px;
  padding-top: 20px;
  font: normal normal normal 60px/60px Flood;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.issue-box {
  margin-top: 300px;
  height: 250px;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 40px;
  position: relative;
  bottom: 30px;
}
.issue-box > div {
  height: 40px;
  width: 140px;
  color: white;
  background-color: #354463;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
  margin-top: -70px;
  margin-left: calc(50% - 75px);
}
.issue-box > div > p {
  padding: 12px 0;
  text-align: center;
}
.issue-box > h4 {
  text-align: center;
  font: normal normal bold 24px/30px Helvetica;
  /* word-spacing: 7px; */
  color: #354463;
  opacity: 1;
  margin-top: 30px;
}
.mission_values {
  background-color: #354463;
  padding: 40px;
}
.mission-text > div {
  height: 40px;
  width: 160px;
  color: white;
  text-align: center;
  background-color: #ffffff;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #354463;
  opacity: 1;
  margin-left: calc(50% - 80px);
}
.mission-text > div > p {
  padding: 12px 0;
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #354463;
  opacity: 1;
}
.mission-text > h5 {
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 40px;
}
.mission-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}
/* .mission-subgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr;5 */
/* .mission-subgrid > img{
    grid-column: 1/2;
    grid-row: 1/2;
}*/
.mission-subgrid > h5,
p {
  color: #ffffff;
  margin-top: 15px;
  text-align: left;
}
.mission-subgrid > h5 {
  font: normal normal bold 16px/20px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.mission-subgrid > p {
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #ffffff;
  opacity: 1;
}
.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 312px;
  margin-bottom: 20px;
}
.sub-grid-team-1 {
  grid-column: 1/3;
  text-align: center;
  padding: 25px;
}
.sub-grid-team-1 > div {
  height: 40px;
  width: 160px;
  background-color: #354463;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
  margin-left: calc(50% - 80px);
  margin-bottom: 20px;
}
.sub-grid-team-1 > div > p {
  padding: 12px 0;
  text-align: center;
}
.sub-grid-team-1 > h5 {
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.sub-grid-team-1 > p {
  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.sub-grid-team {
  justify-self: center;
  align-self: center;
  background-color: #354463;
}
.sub-grid-team > p {
  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #ffffff;
  opacity: 1;
}
.our-impact {
  background: url("about-us/Impact Background@2x.png") 0% 0% no-repeat
    padding-box;
  background-size: 100% 100%;
  background-color: #354463;
}
.our-impact {
  padding: 40px;
}
.our-impact-text > div {
  height: 40px;
  width: 160px;
  background-color: #ffffff;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  opacity: 1;
  margin-left: calc(50% - 80px);
}
.our-impact-text > div > p {
  padding: 12px 0;
  text-align: center;
  color: #354463;
}
.our-impact-text > p {
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.grid-col-impact {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 25px;
}
.sub-grid-impact > h1 {
  font-family: Flood;
  /* UI Properties */
  text-align: center;
  font: normal normal normal 44px/46px Flood;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.sub-grid-impact > p {
  text-align: center;
  font: normal normal bold 16px/20px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.take-action {
  padding: 40px;
  background-color: #354463;
}
.take-action-text > h5 {
  font-family: Flood;
  /* UI Properties */
  text-align: center;
  font: normal normal normal 44px/46px Flood;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.take-action-content {
  /* padding: 40px; */
  background-color: #ffffff;
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.take-action-content > div {
  height: 40px;
  width: 160px;
  background-color: #ffffff;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  opacity: 1;
  margin-left: calc(50% - 80px);
  position: relative;
  top: -20px;
}
.take-action-content > div > p {
  padding: 12px 0;
  text-align: center;
  color: #354463;
}
.img-take {
  margin-top: -40px;
}
.sub-take-action {
  background-color: #ffffff;
}
.sub-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.sub-content > h5 {
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
}
.sub-content > p {
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.sub-content > div {
  padding-top: 20px;
}
.sub-content > div > button {
  margin-left: calc(50% - 75px);
  padding: 10px 40px;
  border-radius: 15px;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  font-weight: bold;
  font: normal normal bold 16px/20px Helvetica;
}
.subscribe {
  background-color: #c1f7d5;
  padding: 20px 20px;
}
.subs-grid {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.subs-text {
  text-align: center;
  margin-top: 15px;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  /* align-self: flex-end; */
}
.subs-btn {
  align-self: center;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.mail-box {
  padding: 10px 8px;
  border-radius: 20px;
  border: 1px solid #c1f7d5;
}
.click-btn {
  padding: 8px 6px;
  border-radius: 20px;
  background-color: #354463;
  color: white;
  border: 1px solid #354463;
}
footer {
  /* width: 100vw;
  height: 70vh; */
  background-color: #ffffff;
  padding: 40px 40px;
}
.footer-grid {
  /* width: 90vw; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
}
.name-brand {
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-us > p {
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.follow-us,
.learn-more {
  color: #354463;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.learn-more > p,
.follow-us > p {
  color: #354463;
}
.learn-more > a {
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 14px/24px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.follow-us > a {
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 14px/24px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.img-footer {
  grid-column: 2/3;
  grid-row: 3/4;
}
.footer-climate-change-txt {
  text-align: left;
  font: normal normal normal 30px/30px Flood;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
    padding-top: 50px;
  }
  header > h4 {
    font: normal normal bold 20px/25px Helvetica;
    letter-spacing: 0px;
    align-self: center;
    grid-column: 1/2;
  }
  header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    align-content: center;
    grid-column: 2/3;
  }
  .link {
    font: normal normal 300 16px/20px Helvetica;
    color: #354463;
  }
  header > a {
    margin-top: -100px;
    grid-column: 3/4;
  }
  header > a > button {
    background: #c1f7d5;
    border-radius: 100px;
    opacity: 1;
    border: 1px solid #c1f7d5;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding: 10px 50px;
  }
  main > .issue_content {
    background: transparent url("about-us/annie-spratt-427339-unsplash@2x.png")
      0% 0% no-repeat padding-box;
    background-size: 100% 100%;
    display: flex;
    padding: 4rem;
  }
  .stop_climate_change {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: Flood;
    padding-top: 20px;
    text-align: left;
    margin-left: 8rem;
    align-self: center;
    font: normal normal normal 5rem/4rem Flood;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .issue-box {
    margin-top: 0px;
    height: 10rem;
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 3rem;
    position: relative;
    top: 7rem;
  }
  .issue-box > div {
    height: 40px;
    width: 140px;
    color: white;
    background-color: #354463;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    opacity: 1;
    margin-top: -80px;
    margin-left: 0px;
  }
  .issue-box > h4 {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    margin-top: 30px;
  }
  .mission_values {
    background-color: #354463;
    padding: 5rem;
  }
  .mission-text > div {
    height: 2.5rem;
    width: 15%;
    color: white;
    background-color: #ffffff;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
    margin-left: 0px;
  }
  .mission-text > div > p {
    font: normal normal normal 16px/20px Helvetica;
    letter-spacing: 0.6px;
  }
  .mission-text > h5 {
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .mission-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
  }
  .our-team {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
  .sub-grid-team-1 {
    display: flex;
    text-align: unset;
    padding: 3rem;
    width: 80%;
    gap: 3rem;
  }
  .grid-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .sub-grid-team-1 > div {
    height: 3rem;
    width: 9rem;
    background-color: #354463;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    opacity: 1;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .sub-grid-team-1 > div > p {
    padding: 12px 0px;
    text-align: center;
    margin-top: 5px;
  }
  .sub-grid-team-1 > h5 {
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .sub-grid-team-1 > p {
    text-align: left;
    font: normal normal 300 20px/30px Helvetica;
    letter-spacing: -0.4px;
    color: #354463;
    opacity: 1;
  }
  .sub-grid-team {
    justify-self:normal;
    align-self:unset;
    background-color: #354463;
  }
  .sub-grid-team > img{
    width: 100%;
  }
  .sub-grid-team > p {
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #ffffff;
    opacity: 1;
  }
}
