* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Flood;
  src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}
header {
  padding-top: 30px;
}
header > h1 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  margin-bottom: 20px;
}
main {
  background: transparent url("donation/annie-spratt-427340-unsplash@2x.png") 0%
    0% no-repeat padding-box;
  background-size: 100% 100%;
  padding-bottom: 40px;
}
main > p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: Flood;
  text-align: center;
  font: normal normal normal 44px/46px Flood;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  padding: 2rem;
}
main > section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #354463;
}
main > section > section {
  padding-top: 20px;
}
main > section > section > form {
  padding-top: 30px;
}
.information > form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.information > form > .fname {
  grid-column: 1/3;
  grid-row: 1/2;
}
.information > form > .lname {
  grid-column: 3/5;
  grid-row: 1/2;
}
.information > form > .address {
  grid-column: 1/5;
  grid-row: 2/3;
}
.information > form > .city {
  grid-column: 1/3;
  grid-row: 3/4;
}
.information > form > .state {
  grid-column: 3/4;
  grid-row: 3/4;
}
.information > form > .zip {
  grid-column: 4/5;
  grid-row: 3/4;
}
.information > form > .email {
  grid-column: 1/5;
  grid-row: 4/5;
}
main > section > section > h1 {
  text-align: left;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.payment > form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}
.payment > form > .credit-card {
  grid-column: 1/3;
  grid-row: 1/2;
}
.payment > form > .expiry-date {
  grid-column: 1/2;
  grid-row: 2/3;
}
.payment > form > .cvv {
  grid-column: 2/3;
  grid-row: 2/3;
}
main > section > .text-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
main > section > section > form > div > label {
  text-align: left;
  font: normal normal normal 13px/13px Helvetica;
  letter-spacing: 0.44px;
  color: #ffffff;
  opacity: 1;
}
input {
  background-color: #354463;
  border: none;
  width: 80%;
  border-bottom: 3px solid #c1f7d5;
  padding: 5px;
  color: #ffffff;
  font: normal normal 300 16px/24px Helvetica;
}
* :focus {
  outline: none;
}
::placeholder {
  text-align: left;
  font: normal normal 300 16px/24px Helvetica;
  letter-spacing: -0.16px;
  color: #ffffff;
  opacity: 0.2;
}
select {
  margin-top: 0.9rem;
  background-color: #354463;
  border: none;
  border-bottom: 3px solid #c1f7d5;
  text-align: left;
  font: normal normal 300 16px/24px Helvetica;
  letter-spacing: -0.16px;
  color: #c1f7d5;
  opacity: 1;
}

main > section > .text-content > p {
  /* text-align: center; */
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
main > section > .text-content > div {
  margin-top: 10px;
  /* text-align: center; */
}
main > section > .text-content > div > button {
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  padding: 15px 50px;
  border: 1px solid #c1f7d5;
}
main > section > .text-content > div > a {
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 14px/24px Helvetica;
  letter-spacing: -0.14px;
  color: #c1f7d5;
  opacity: 1;
  /* margin-right: calc(45% - 10px); */
}
footer {
  background-color: #ffffff;
  padding: 40px 40px;
}
.footer-grid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
}
.name-brand {
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-us > p {
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.follow-us,
.learn-more {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.learn-more > a {
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 14px/24px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.follow-us > a {
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 14px/24px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.img-footer {
  grid-column: 2/3;
  grid-row: 3/4;
}
.footer-climate-change-txt {
  text-align: left;
  font: normal normal normal 30px/30px Flood;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
@media screen and (min-width: 672px) {
  .payment > form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
  }
  .payment > form > .credit-card {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .payment > form > .expiry-date {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .payment > form > .cvv {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  main > section > .text-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
  }
  main > section > .text-content > p {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  main > section > .text-content > div {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  main > section > .text-content > div > button {
    background: #c1f7d5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 15px 50px;
    border: 1px solid #c1f7d5;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  main > section > .text-content > div > a {
    /* text-align: left; */
    text-decoration: underline;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 16px/56px Helvetica;
    letter-spacing: -0.16px;
    color: #c1f7d5;
    opacity: 1;
  }
  footer {
    background-color: #ffffff;
    padding: 40px 40px;
  }
  .footer-grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    gap: 50px;
  }
  .name-brand {
    text-align: left;
    grid-column: 1/2;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .contact-us {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .follow-us {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .learn-more {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contact-us > p {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
  }
  .follow-us,
  .learn-more {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
  }
  .follow-us > p,
  .learn-more > p {
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    border-bottom: 2px solid #354463;
  }
  .learn-more > a {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }
  .follow-us > a {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }
  .img-footer {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .footer-climate-change-txt {
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
    padding: 5rem;
  }
  main > p {
    grid-column: 2/3;
    width: 70%;
    height: 50%;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: auto;
    text-align: center;
    font-family: Flood;
    font: normal normal normal 72px/76px Flood;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    padding-top: 20px;
  }
  main > section {
    grid-column: 1/2;
    grid-row: 1/2;
    /* margin-top: -4.5rem; */
  }
  main > section > .text-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
  }
  main > section > .text-content > p {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  main > section > .text-content > div {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  main > section > .text-content > div > button {
    background: #c1f7d5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 15px 50px;
    border: 1px solid #c1f7d5;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  main > section > .text-content > div > a {
    /* text-align: left; */
    text-decoration: underline;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 16px/56px Helvetica;
    letter-spacing: -0.16px;
    color: #c1f7d5;
    opacity: 1;
  }
  .payment > form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
  }
  .payment > form > .credit-card {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .payment > form > .expiry-date {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .payment > form > .cvv {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  footer {
    background-color: #ffffff;
    padding: 40px 40px;
  }
  .footer-grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .name-brand {
    text-align: left;
    grid-column: 1/2;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .contact-us {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact-us > p {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
  }
  .follow-us,
  .learn-more {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
  }
  .follow-us > p,
  .learn-more > p {
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    border-bottom: 2px solid #354463;
  }
  .learn-more > a {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }
  .follow-us > a {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }
  .img-footer {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  .footer-climate-change-txt {
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
}
