@font-face {
  font-family: Flood;
  src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
}
.container {
  top: 0;
  left: 0;
}
.home {
  display: flex;
  flex-direction: column;
}
/* .header {
  } */
.nav-grid {
  display: grid;
  width: 80%;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  grid-auto-rows: minmax(5rem, auto);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.1rem;
}
.name {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  text-align: left;
  font: normal normal bold 0.9rem/1.1rem Helvetica;
  letter-spacing: 0rem;
  color: #354463;
  opacity: 1;
}
.menu {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: flex-start;
  align-self: flex-start;
}
.menu-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 0.6rem;
}
.donate {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}
.btn {
  font: normal normal bold 18px/22px Helvetica;
  color: #354463;
  border-radius: 6.25rem;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  font-size: 0.75rem;
  font-family: sans-serif;
  font-weight: bold;
  opacity: 1;
  padding: 0.625rem 3.1rem;
  font: normal normal bold 1.1rem/1.3rem Helvetica;
}
.links {
  text-align: left;
  font: normal normal 300 0.8rem/1.25rem Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
  text-decoration: none;
}
.home-pic {
  background: transparent url("img/annie-spratt-135307-unsplash.png") 0% 0%
    no-repeat padding-box;
  background-size: 100% 100%;
  opacity: 1;
}
.grid-home {
  padding-bottom: 3.125rem;
}
.text-stop-climate-change {
  font-family: Flood;
  margin-right: 6.25rem;
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.125rem;
  font: normal normal normal 44px/46px Flood;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.issue-box-big {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.issue-box-sm {
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  padding-top: 0.5rem;
  position: relative;
  top: -1.25rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-align: center;
  background-color: #354463;
}
.issue-box-sm > h1 {
  text-align: center;
  font: normal normal normal 0.6rem/0.8rem Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
}
.issue-content {
  width: 80%;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.issue-box-text > h4 {
  text-align: center;
  font: normal normal bold 1.1rem/1.4rem Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.issue-box-link > a {
  font-size: 1rem;
  color: black;
}
.our-actions {
  background-color: #c1f7d5;
  /* padding-top: 30px; */
  padding-bottom: 1.8rem;
}
.take-action-box {
  padding: 0.75rem 0.75rem;
  color: #ffffff;
  text-align: center;
  background-color: rgb(19, 18, 18);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -1.25rem;
  font: normal normal normal 0.7rem / 0.85rem Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
}
.action-grid {
  display: grid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.learn {
  grid-column: 1/2;
  grid-row: 1/2;
}
.volunteer {
  grid-column: 2/3;
  grid-row: 1/2;
}
.share {
  grid-column: 1/2;
  grid-row: 2/3;
}
.donate-ac {
  grid-column: 2/3;
  grid-row: 2/3;
}
.action-grid > div > h5 {
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.action-grid > div > p {
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
}
.w-w-d-content {
  background-color: #354463;
  padding-top: 40px;
}
.what-we-do {
  display: grid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  padding: 30px 15px;
}
.mission {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
.mission > div {
  background-color: white;
  color: black;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  text-align: center;
}
.mission > p {
  color: white;
  padding: 0px 30px;
  margin-top: 60px;
  font: normal normal bold 22px/28px Helvetica;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.tree-planting-initiative {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}
.tree-planting-initiative > div {
  background-color: #ffffff;
  padding: 30px 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.tree-planting-initiative > div > img {
  display: block;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  margin-top: -70px;
}
.tree-sub > h5 {
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.tree-sub > p {
  padding-top: 20px;
  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.tree-sub > a {
  padding-top: 25px;
  display: block;
  width: 100%;
  text-align: center;
}
.tree-sub > a > button {
  padding: 10px 50px;
  border-radius: 15px;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  font-weight: bold;
  font: normal normal bold 16px/20px Helvetica;
}
.education-and-training {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-content: center;
  align-content: center;
}
.education_training {
  background-color: #ffffff;
  padding: 30px 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.education_training > img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
}
.education_training > h5 {
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.education_training > p {
  padding-top: 20px;
  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.education_training > a {
  padding-top: 25px;
  display: block;
  width: 100%;
  text-align: center;
}
.education_training > a > button {
  padding: 10px 50px;
  border-radius: 15px;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  font-weight: bold;
  font: normal normal bold 16px/20px Helvetica;
}
.advocacy-and-campaigning {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-content: center;
  align-content: center;
}
.advocacy-campaign {
  background-color: #ffffff;
  padding: 30px 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.advocacy-img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
}
.advocacy-campaign > h5 {
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.advocacy-campaign > p {
  padding-top: 20px;
  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.advocacy-campaign > a {
  padding-top: 25px;
  display: block;
  width: 100%;
  text-align: center;
}
.advocacy-campaign > a > button {
  left: calc(50% - 100px);
  padding: 10px 50px;
  border-radius: 15px;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  font-weight: bold;
  font: normal normal bold 16px/20px Helvetica;
}
.stats {
  background: transparent url("img/Did you know background@2x.png") 0% 0%
    no-repeat padding-box;
  background-size: 100% 100%;
}
.grid-stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.stats-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.climate-change > h1 {
  /* font-family:Flood ;
    font: normal normal normal 44px/46px Flood Std;*/
  padding-top: 40px;
  padding-left: 40px;
  text-align: left;
  font: normal normal normal 44px/46px Flood;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  color: white;
}
.take-action-today {
  padding: 13px 8px;
  border-radius: 15px;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  font-weight: bold;
  font: normal normal bold 15px/15px Helvetica;
  margin-top: 40px;
  margin-left: 40px;
}
.dyn {
  background-color: #354463;
  padding: 10px 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 35px;
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
}
.stats-flex > div > h5 {
  font: normal normal bold 22px/28px Helvetica;
  text-align: left;
}
.stats-flex > div > p {
  font: normal normal lighter 16px/20px Helvetica;
  position: relative;
  top: 10px;
  text-align: left;
}
.stat {
  background-color: white;
  padding: 40px 40px;
  text-align: left;
  color: #354463;
}
.stories {
  margin-bottom: 50px;
  width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
/* .stories > img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.stories > a {
  padding-top: 25px;
  display: block;
  width: 80%;
  text-align: center;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
} */
.story-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.story {
  color: #ffffff;
  display: block;
  /* padding: 10px 20px; */
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.story > p {
  background-color: #354463;
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
  padding: 15px 15px;
  text-align: center;
  border-radius: 5px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 1rem;
}
.story > img {
  display: block;
  width: 100%;
  height: 100%;
}
.story-text {
  /* width: 313px;
    height: 312px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  padding-bottom: 25px;
}
.story-content {
  width: 80%;
  background-color: #354463;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 25px;
}
.story-content > h5 {
  font: normal normal bold 22px/26px Helvetica;
  text-align: center;
}
.story-content > p {
  font: normal normal normal 11px/13px Helvetica;
  text-align: center;
}
.story-text > a {
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.story-text > a > button {
  padding: 10px 40px;
  border-radius: 15px;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  font-weight: bold;
  font: normal normal bold 16px/20px Helvetica;
}
.features {
  background-color: #354463;
  padding: 40px 40px;
}
.event-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.take-action {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  font: normal normal normal 44px/46px Flood;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  color: white;
}
.events {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.event-box {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #354463;
  padding: 15px 15px;
  text-align: center;
  border-radius: 5px;
  font: normal normal normal 14px/17px Helvetica;
  position: relative;
  top: 1.25rem;
}
.event-img > img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.event-text > h5 {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  font: normal normal bold 22px/26px Helvetica;
  text-align: center;
}
.event-text > p {
  color: #ffffff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font: normal normal normal 15px/15px Helvetica;
  text-align: center;
  padding-top: 1rem;
  opacity: 0.8;
}
.event-text > a {
  display: block;
  width: 90%;
  text-align: center;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.event-text > a > button {
  padding: 10px 50px;
  border-radius: 15px;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  font-weight: bold;
  font: normal normal bold 16px/20px Helvetica;
}
.latest-news {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.latest-img > img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.latest-content > h5 {
  color: #ffffff;
  font: normal normal bold 1rem/1.1rem Helvetica;
  text-align: center;
}
.latest-content > p {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  font: normal normal normal 15px/15px Helvetica;
  text-align: center;
  padding-top: 1rem;
  opacity: 0.8;
}
.latest-content > a {
  display: block;
  width: 90%;
  text-align: center;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.latest-content > a > button {
  padding: 10px 50px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  font-weight: bold;
  font: normal normal bold 16px/20px Helvetica;
}
.subscribe {
  /* width: 100vw;
    height: 30vh; */
  background-color: #c1f7d5;
  padding: 20px 20px;
}
.subs-grid {
  /* width: 90vw; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.subs-text {
  text-align: center;
  margin-top: 15px;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.subs-btn {
  align-self: center;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.mail-box {
  padding: 10px 10px;
  border-radius: 20px;
  border: 1px solid #c1f7d5;
}
.click-btn {
  padding: 10px 6px;
  border-radius: 20px;
  background-color: #354463;
  color: white;
  border: 1px solid #354463;
}
footer {
  background-color: #ffffff;
  padding: 40px 40px;
}
.footer-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
}
.name-brand {
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-us > p {
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.follow-us,
.learn-more {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.learn-more > a {
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 14px/24px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.follow-us > a {
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 14px/24px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.img-footer {
  grid-column: 2/3;
  grid-row: 3/4;
}
.footer-climate-change-txt {
  text-align: left;
  font: normal normal normal 30px/30px Flood;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
@media screen and (min-width: 672px) {
  .nav-grid {
    display: grid;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    grid-auto-rows: minmax(5rem, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
  }
  .name {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: flex-start;
    align-self: left;
    text-align: left;
    font: normal normal bold 0.9rem/1.1rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .menu {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: flex-start;
    align-self: flex-start;
  }
  .menu-flex {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .donate {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
  }
  .btn {
    font: normal normal bold 18px/22px Helvetica;
    color: #354463;
    border-radius: 100px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-size: 0.75rem;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 1;
    padding: 10px 50px;
    font: normal normal bold 18px/22px Helvetica;
  }
  .links {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    text-decoration: none;
  }
  .issue-box-text > h4 {
    text-align: center;
    font: normal normal bold 36px/46px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .what-we-do {
    display: grid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    padding: 30px 15px;
  }
  .tree-planting-initiative {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }
  .tree-planting-initiative > div {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #ffffff;
    padding: 30px 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .tree-planting-initiative > div > img {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    margin-top: -70px;
  }
  .tree-sub > h5 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .tree-sub > p {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 20px;
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }
  .tree-sub > a {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 25px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .tree-sub > a > button {
    padding: 10px 50px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
  }
  .education-and-training {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    align-content: center;
  }
  .education_training {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    background-color: #ffffff;
    padding: 30px 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .education_training > img {
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
  }
  .education_training > h5 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .education_training > p {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 20px;
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }
  .education_training > a {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 25px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .education_training > a > button {
    padding: 10px 50px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
  }
  .advocacy-and-campaigning {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
    align-content: center;
  }
  .advocacy-campaign {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    background-color: #ffffff;
    padding: 30px 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .advocacy-img {
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
  }
  .advocacy-campaign > h5 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .advocacy-campaign > p {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 20px;
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }
  .advocacy-campaign > a {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 25px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .advocacy-campaign > a > button {
    left: calc(50% - 100px);
    padding: 10px 50px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
  }
  .stats {
    background: transparent url("img/Did you know background@2x.png") 0% 0%
      no-repeat padding-box;
    background-size: 100% 100%;
    padding: 2rem;
  }
  .grid-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .stats-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  }
  .climate-change > h1 {
    /* font-family:Flood ;
      font: normal normal normal 44px/46px Flood Std;*/
    padding-top: 40px;
    padding-left: 40px;
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    color: white;
  }
  .take-action-today {
    padding: 13px 8px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 15px/15px Helvetica;
    margin-top: 40px;
    margin-left: 40px;
  }
  .dyn {
    background-color: #354463;
    padding: 10px 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    opacity: 1;
  }
  .stats-flex > div > h5 {
    font: normal normal bold 22px/28px Helvetica;
    text-align: left;
  }
  .stats-flex > div > p {
    font: normal normal lighter 16px/20px Helvetica;
    position: relative;
    top: 10px;
    text-align: left;
  }
  .stat {
    background-color: white;
    padding: 40px 40px;
    text-align: left;
    color: #354463;
  }
  .story-grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .story {
    color: #ffffff;
    display: block;
    /* padding: 10px 20px; */
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .story > p {
    background-color: #354463;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    opacity: 1;
    padding: 15px 15px;
    text-align: center;
    border-radius: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1.3rem;
  }
  .story > img {
    display: block;
    width: 90%;
    margin-right: auto;
    height: 100%;
  }
  .story-text {
    /* width: 313px;
      height: 312px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    padding-bottom: 25px;
  }
  .story-content {
    width: 80%;
    background-color: #354463;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5rem 2rem;
    position: relative;
    top: -1.5rem;
  }
  .story-content > h5 {
    font: normal normal bold 22px/28px Helvetica;
    text-align: center;
  }
  .story-content > p {
    font: normal normal normal 14px/17px Helvetica;
    text-align: center;
  }
  .story-text > a {
    display: block;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
  }
  .features {
    background-color: #354463;
    padding: 40px 40px;
  }
  .event-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 30px;
  }
  .take-action {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: left;
    font: normal normal normal 72px/76px Flood;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    color: white;
  }
  .event-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
  }
  .events {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .events > .event-img > img {
    width: 400px;
  }
  .events > .event-img > div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #354463;
    display: block;
    padding: 15px 15px;
    text-align: center;
    border-radius: 5px;
    font: normal normal normal 14px/17px Helvetica;
    position: relative;
    top: 1.5rem;
  }
  .event-text {
    display: flex;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }
  .event-text > h5 {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    width: 100%;
    opacity: 1;
  }
  .event-text > p {
    text-align: left;
    font: normal normal 300 18px/20px Helvetica;
    letter-spacing: -0.4px;
    color: #ffffff;
    width: 100%;
    opacity: 1;
  }
  .event-text > a {
    display: block;
    width: 100%;
    text-align: left;
  }
  .event-text > a > button {
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .latest-news {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .latest-img {
    order: 2;
    justify-self: left;
    align-self: flex-start;
  }
  .latest-news > .latest-img > img {
    width: 400px;
    justify-self: left;
    align-self: flex-start;
  }
  .latest-news > .latest-img > div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #354463;
    display: block;
    padding: 15px 15px;
    text-align: center;
    border-radius: 5px;
    font: normal normal normal 14px/17px Helvetica;
    position: relative;
    top: 1.5rem;
  }
  .latest-content {
    order: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }
  .latest-content > h5 {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    width: 100%;
    opacity: 1;
  }
  .latest-content > p {
    text-align: left;
    font: normal normal 300 18px/20px Helvetica;
    letter-spacing: -0.4px;
    color: #ffffff;
    width: 100%;
    opacity: 1;
  }
  .latest-content > a {
    display: block;
    width: 100%;
    text-align: left;
  }
  .latest-content > a > button {
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  @font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
  }
  * {
    margin: 0;
    padding: 0;
  }
  .nav-grid {
    display: grid;
    width: 80%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .name {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .menu {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }
  .menu-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
  .donate {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }

  .btn {
    border-radius: 100px;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.7;
    padding: 10px 50px;
    font: normal normal bold 18px/22px Helvetica;
  }
  .links {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    text-decoration: none;
  }
  .home-pic {
    height: 100%;
    background: transparent url("img/annie-spratt-135307-unsplash@2x.png") 0% 0%
      no-repeat padding-box;
    background-size: cover;
    background-position: center;
    opacity: 1;
    margin-top: 25px;
    padding-bottom: 100px;
  }
  .grid-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    grid-gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
  }
  .text-stop-climate-change {
    width: 100%;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: auto;
    margin-right: auto;
    font-family: Flood;
    padding-top: 20px;
    font: normal normal normal 70px/70px Flood;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  section > .issue-box-big {
    text-align: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 1rem;
    margin-top: 3rem;
  }
  .issue-box-sm {
    padding: 15px 15px;
    font-family: sans-serif;
    padding-top: 10px;
    margin-left: 100px;
    width: 158px;
    height: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #354463;
    position: relative;
    top: -2rem;
  }
  .issue-box-sm > h1 {
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    opacity: 1;
    text-align: center;
  }
  .issue-content {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  .issue-box-text > h4 {
    text-align: left;
    font: normal normal bold 2rem/2.8rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .issue-box-link {
    text-align: left;
  }
  .issue-box-link > a {
    text-decoration: underline;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
  }
  .our-actions {
    background-color: #c1f7d5;
    padding-bottom: 30px;
  }
  .take-action-box {
    padding: 15px 15px;
    color: #ffffff;
    text-align: center;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 158px;
    height: 18px;
    position: relative;
    top: -20px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    opacity: 1;
  }
  .action-grid {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .learn {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .volunteer {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .share {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .donate-ac {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .action-grid > div > h5 {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .action-grid > div > p {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
  }
  .w-w-d-content {
    background-color: #354463;
    padding: 2rem 0;
  }
  .mission {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }
  .mission > div {
    background-color: white;
    color: black;
    width: 160px;
    padding: 10px 28px;
    text-align: center;
    margin-bottom: 15px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
  }
  .mission > p {
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .what-we-do {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 50px;
  }
  .tree-planting-initiative {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #ffffff;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 0px;
  }
  .tree-planting-initiative > div {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 0.5rem;
  }
  .tree-planting-initiative > div > img {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
    left: 2rem;
  }
  .tree-planting-initiative > div > h5 {
    text-align: center;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #354463;
    text-align: left;
    opacity: 1;
  }
  .tree-planting-initiative > div > p {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
  }
  .tree-planting-initiative > div > a {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .tree-planting-initiative > div > a > button {
    padding: 10px 50px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .education-and-training {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-items: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0px;
  }
  .education-and-training > div {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* text-align: left; */
    flex-direction: column;
    gap: 0.5rem;
  }
  .education-and-training > div > img {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
    left: 2rem;
  }
  .education-and-training > div > h5 {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .education-and-training > div > p {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
  }
  .education-and-training > div > a {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .education-and-training > div > a > button {
    padding: 10px 50px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-left: calc(50% - 140px);
  }
  .advocacy-and-campaigning {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-items: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    padding: 0px;
  }
  .advocacy-and-campaigning > div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
  .advocacy-and-campaigning > div > img {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
    left: 2rem;
  }
  .advocacy-and-campaigning > div > h5 {
    text-align: left;
    width: 100%;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .advocacy-and-campaigning > div > p {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    width: 100%;
    opacity: 1;
  }

  .advocacy-and-campaigning > div > a {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .advocacy-and-campaigning > div > a > button {
    padding: 10px 50px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-left: calc(50% - 140px);
  }
  .stats {
    background: url("img/Did you know background.png");
    background-size: 100% 100%;
    background-position: center;
  }
  .grid-stats {
    display: grid;
    grid-column: 1fr, 1fr;
    grid-row: 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .grid-stats > .stats-text {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .stats-text > div {
    padding-top: 40px;
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    color: white;
    line-height: 80px;
  }
  .stats-text > button {
    width: 30%;
    padding: 0.75rem 2rem;
    border-radius: 25px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font: normal normal bold 18px/22px Helvetica;
  }
  .grid-stats > .stats-numbers {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .stats-numbers > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .stats-flex > div {
    background-color: #ffffff;
    padding: 50px;
  }
  .stat > h5 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .stat > p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .dyn {
    background-color: #354463;
    padding: 15px 28px;
    width: 25%;
    position: relative;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    opacity: 1;
  }
  .stories {
    margin-left: 0px;
    padding: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .story-grid {
    display: grid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    margin-bottom: 4rem;
  }
  .story {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .story > p {
    background: #354463 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    width: 25%;
    padding: 12px 12px;
    position: relative;
    top: 25px;
    margin-left: 3rem;
    opacity: 1;
  }
  .story > img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .story-text {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: flex-end;
    align-self: center;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    left: 8rem;
  }
  .story-text > a {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    /* text-align: left; */
    padding-top: 2rem;
  }
  .story-text > a > button {
    padding: 10px 40px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
  }
  .story-content {
    background-color: #354463;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    height: 50%;
    margin-top: 12rem;
  }
  .story-content > h5 {
    font: normal normal bold 22px/26px Helvetica;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
  .story-content > p {
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    opacity: 1;
  }
  /*
  .stats-flex > div > h5 {
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .stats-flex > div > p {
    font: normal normal lighter 20px/20px Helvetica;
  } */
  .features {
    background-color: #354463;
    padding: 40px 40px;
  }
  .event-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 30px;
  }
  .take-action {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: left;
    font: normal normal normal 72px/76px Flood;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    color: white;
  }
  .event-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
  }
  .events {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .events > .event-img > img {
    width: 400px;
  }
  .events > .event-img > div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #354463;
    display: block;
    padding: 15px 15px;
    text-align: center;
    border-radius: 5px;
    font: normal normal normal 14px/17px Helvetica;
    position: relative;
    top: 1.5rem;
  }
  .event-text {
    display: flex;
    width: 80%;
    text-align: left;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }
  .event-text > h5 {
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    width: 80%;
    opacity: 1;
  }
  .event-text > p {
    text-align: left;
    font: normal normal 300 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #ffffff;
    width: 80%;
    opacity: 1;
  }
  .event-text > a {
    display: block;
    width: 80%;
    text-align: left;
  }
  .event-text > a > button {
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .latest-news {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .latest-img {
    order: 2;
    justify-self: left;
    align-self: flex-start;
  }
  .latest-news > .latest-img > img {
    width: 400px;
    justify-self: left;
    align-self: flex-start;
  }
  .latest-news > .latest-img > div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #354463;
    display: block;
    padding: 15px 15px;
    text-align: left;
    border-radius: 5px;
    font: normal normal normal 14px/17px Helvetica;
    position: relative;
    top: 1.5rem;
  }
  .latest-content {
    order: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }
  .latest-content > h5 {
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    width: 80%;
    opacity: 1;
  }
  .latest-content > p {
    text-align: left;
    font: normal normal 300 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #ffffff;
    width: 100%;
    opacity: 1;
  }
  .latest-content > a {
    display: block;
    width: 100%;
    text-align: left;
  }
  .latest-content > a > button {
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  /* .latest-news > img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */
  /* .latest-news > h5 {
    color: #ffffff;
    font: normal normal bold 22px/26px Helvetica;
    text-align: left;
  } */
  /* .latest-news > p {
    color: #ffffff;
    font: normal normal normal 15px/15px Helvetica;
    text-align: center;
  }
  .latest-news > button {
    padding: 10px 50px;
    border-radius: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c1f7d5;
    background-color: #c1f7d5;
    font-weight: bold;
    font: normal normal bold 16px/20px Helvetica;
  } */
  .subscribe {
    background-color: #c1f7d5;
    padding: 20px 20px;
  }
  .subs-grid {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 50px;
    padding: 30px;
  }
  .subs-text {
    text-align: center;
    margin-top: 15px;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .subs-btn {
    align-self: center;
  }
  .mail-box {
    padding: 15px 15px;
    border-radius: 20px;
    border: 1px solid #c1f7d5;
  }
  .click-btn {
    padding: 15px 15px;
    border-radius: 20px;
    background-color: #354463;
    color: white;
    margin-left: 15px;
    border: 1px solid #354463;
  }
  footer {
    background-color: #ffffff;
    padding: 40px 40px;
  }
  .footer-grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .name-brand {
    text-align: left;
    grid-column: 1/2;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .contact-us {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact-us > p {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
  }
  .follow-us,
  .learn-more {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
  }
  .follow-us > p,
  .learn-more > p {
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    border-bottom: 2px solid #354463;
  }
  .learn-more > a {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }
  .follow-us > a {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
  }
  .img-footer {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  .footer-climate-change-txt {
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
}
